<section class="home-search">
    <div class="col-lg-5 col-md-5">
        <div class="advanced-search">
            <div class="input-group">
                <input type="text" name="search" ng-model="$ctrl.searchQuery" ng-change="$ctrl.search()" placeholder="Rechercher...">
                <button type="button"><i class="ti-search"></i></button>
            </div>
        </div>
        <div id="searchContainer" class="search-results">
            <li class="row" ng-repeat="prod in $ctrl.foundProducts" ng-click="$ctrl.goToProduct(prod)">
                <div class="col-lg-2">
                    <img ng-src="{{prod.image}}">
                </div>
                <div class="col-lg-10 item-details">
                    <div class="item-label">{{prod.label}}</div>
                    <div class="item-price">{{prod.price}} D.T</div>
                </div>
            </li>
        </div>
    </div>
</section>
<section class="slideshow">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/slide4.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide5.jpg" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slide6.jpg" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<section class="shipping-section">
    <div class="container">
        <div class="row">
            <div class="shipping-section-item col-md-4">
                <div class="shipping-section-item-image">
                    <img src="assets/img/tunisia.png">
                </div>
                <div class="shipping-section-item-description">
                    Livraison sur toute la Tunisie
                </div>
            </div>
            <div class="shipping-section-item col-md-4">
                <div class="shipping-section-item-image">
                    <img src="assets/img/72hours.png">
                </div>
                <div class="shipping-section-item-description">
                    Rapide dans 72 heures
                </div>
            </div>
            <div class="shipping-section-item col-md-4">
                <div class="shipping-section-item-image">
                    <img src="assets/img/free-shipping.png">
                </div>
                <div class="shipping-section-item-description">
                    Gratuite à partir de 50 dinars
                </div>
            </div>
        </div>
    </div>
</section>


<section class="newProducts-section">
    <div class="container">
        <div class="tittle wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2>Nouveaux Produits</h2>
            <h4></h4>
        </div>
        <div class="newProducts-section-row row">
            <div ng-repeat="product in $ctrl.newProducts" class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <product-item product="product"></product-item>
            </div>
        </div>
    </div>
</section>

<section class="popular-section" ng-if="$ctrl.pinnedProducts.length">
    <div class="container">
        <div class="tittle wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h2>Produits Populaires</h2>
            <h4></h4>
        </div>
        <div class="popular-section-row row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4" ng-repeat="product in $ctrl.pinnedProducts">
                <product-item product="product"></product-item>
            </div>
        </div>
    </div>
</section>