<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tous les commandes</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="form-group form-inline">
            <label>Etat de commande</label>
            <div class="form-group input-group col-lg-4">
                <select class="form-control" ng-model="selectedOrderStatus">
                    <option value="new">Nouvelles commandes</option>
                    <option value="confirmed">Commandes confirmées</option>
                    <option value="in_progress">Commandes en cours de traitement</option>
                    <option value="shipping">En cours de livraison</option>
                    <option value="shipped">Commandes livrées</option>
                    <option value="canceled">Commandes annulées</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline">
            <label>Etat de paiement</label>
            <div class="form-group input-group col-lg-4">
                <select class="form-control" ng-model="selectedPaymentStatus">
                    <option value="all">Tous</option>
                    <option value="0">Non payée</option>
                    <option value="1">Payée</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="form-group input-group col-lg-6">
                <input type="text" class="form-control" ng-model="filterQuery" placeholder="Nom client/Référence commande/Nom Agent"/>
            </div>
            <div class="form-group input-group col-lg-4">
                <select class="form-control" ng-model="selectedPaymentFilter">
                    <option value="all">Tous</option>
                    <option value="e">Paiement en espèces</option>
                    <option value="c">Paiement par chèque</option>
                    <option value="v">Paiement par virement</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nouvelles commandes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Référence</th>
                                <th>Date</th>
                                <th>Client</th>
                                <th>Type paiement</th>
                                <th>Total</th>
                                <th>Représentant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in filteredOrders track by order.id" class="odd gradeX">
                                <td><a ng-href="#/dashboard/order-details/{{order.id}}">{{order.ref}}</a></td>
                                <td>{{order.date}}</td>
                                <td>{{order.client}}</td>
                                <td>{{order.ptype}}</td>
                                <td>{{order.total}}</td>
                                <td>{{order.agentName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>