<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Commande {{order.order_ref}}</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails commande
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td><b>Date de la commande:</b></td>
                                <td>{{order.date}}</td>
                            </tr>
                            <tr>
                                <td><b>Etat de la commande:</b</td>
                                <td>{{order.status}}</td>
                            </tr>
                            <tr ng-if="order.canceledDate">
                                <td><b>Date d'annulation:</b</td>
                                <td>{{order.canceledDate}}</td>
                            </tr>
        
                            <tr ng-if="order.shippedDate">
                                <td><b>Date de livraison:</b</td>
                                <td>{{order.shippedDate}}</td>
                            </tr>
                            <tr>
                                <td><b>Type de paiement:</b</td>
                                <td>{{order.paymentType}}</td>
                            </tr>
                            <tr>
                                <td><b>Etat de paiement:</b</td>
                                <td>{{order.paymentStatus}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Représentant</label>
                            <select class="form-control form-inline" ng-model="selectedAgent">
                                <option ng-repeat="agent in agents track by agent.id" value="{{agent.id}}">{{agent.name}}</option>
                            </select>
                            <button class="btn btn-success" type="button" ng-disabled="disableApplyAgent" ng-click="applyAgent()" style="margin-top: 10px;">Appliquer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informations client
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table>
                    <tr>
                        <td><b>Nom et prénom:</b></td>
                        <td>{{client.name}}</td>
                    </tr>
                    <tr>
                        <td><b>E-mail:</b</td>
                        <td>{{client.email}}</td>
                    </tr>
                    <tr>
                        <td><b>Téléphone:</b></td>
                        <td>{{client.phone}}</td>
                    </tr>
                    <tr>
                        <td><b>Matricule fiscale:</b</td>
                        <td>{{client.mf}}</td>
                    </tr>
                    <tr>
                        <td><b>Premium:</b></td>
                        <td>{{client.premium ? 'Oui' : 'Non'}}</td>
                    </tr>
                    <tr>
                        <td><b>Solde de points:</b></td>
                        <td>{{client.points}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Actions sur la commande
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="apply()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Etat de la commande </label>
                                <select class="form-control" ng-model="form.selectedOrderStatus" required>
                                    <option ng-repeat="status in possibleStatuses" value="{{status.key}}">{{status.label}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Etat de payement </label>
                                <select class="form-control" ng-model="form.selectedPaymentStatus" required>
                                    <option value="0">Non payée</option>
                                    <option value="1">Payée</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Commentaire:</label>
                                <textarea class="form-control" rows="3" ng-model="form.message" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" ng-disabled="disableApply" class="btn btn-success">Appliquer</button>
                            </div>   
                        </div>  
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Facture et bon de livraison
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                    <label>Facture</label>
                    <div class="form-inline">
                        <label>Date:</label>
                        <div class="form-group input-group">
                            <input type="date" id="invoiceDate" name="invoiceDateInput" ng-model="invoiceForm.invoiceDate">
                        </div>
                        <div class="form-group input-group">
                            <input type="text" placeholder="Matricule fiscale" ng-model="invoiceForm.clientMF">
                        </div>
                        <div class="form-group input-group">
                            <button type="button" class="btn btn-primary" ng-click="getInvoice()">Télécharger</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Bon de livraison</label>
                    <div class="form-inline">
                        <label>Date:</label>
                        <div class="form-group input-group">
                            <input type="date" ng-model="invoiceForm.deliveryInvoiceDate">
                        </div>
                        <div class="form-group input-group">
                            <input type="text" placeholder="Matricule fiscale" ng-model="invoiceForm.clientMF">
                        </div>
                        <div class="form-group input-group">
                            <button type="button" class="btn btn-primary" ng-click="getDeliveryInvoice()">Télécharger</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Facture d'avoir</label>
                    <div class="form-inline">
                        <label>Date:</label>
                        <div class="form-group input-group">
                            <input type="date" ng-model="invoiceForm.creditInvoiceDate">
                        </div>
                        <div class="form-group input-group">
                            <input type="text" placeholder="Matricule fiscale" ng-model="invoiceForm.clientMF">
                        </div>
                        <div class="form-group input-group">
                            <button type="button" class="btn btn-primary" ng-click="getCreditInvoice()">Télécharger</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Produits de la commande
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Réduction</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in rows"> 
                            <td class="center">{{item.label}}</td>
                            <td class="center">
                                <input style="width: 60px" type="number" min="1" step="1" ng-model="item.newQuantity" ng-change="rowQuantityChange()">
                            </td>
                            <td class="center" ng-if="item.inPromo"><b>{{item.price}} D.T </b><del>{{item.originalPrice}}D.T</del> </td>
                            <td class="center" ng-if="!item.inPromo"><b>{{item.price}} D.T</b></td>
                            <td class="center">
                                <input style="width: 60px" type="number" min="0" step="1" max="100" ng-model="item.newReduction" ng-change="rowReductionChange()">
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-danger" ng-click="removeRow(item)">Retirer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <button type="button" class="btn btn-success" ng-click="update()" ng-disabled="!(rowQuantityChanged || rowReductionChanged)">Mettre à jour</button>
                </div>

                <hr/>
                <div>
                    <div class="form-group form-inline" ng-if="addInProgress">
                        <select class="form-control col-lg-3" ng-model="addProductForm.selectedCategoryId" required>
                            <option ng-repeat="category in categories" value="{{category.id}}">{{category.label}}</option>
                        </select>
                        <select class="form-control col-lg-4" ng-model="addProductForm.selectedProduct" required>
                            <option ng-repeat="product in addProductForm.productsForCategory" value="{{product.id}}">{{product.label}}</option>
                        </select>
                        <select class="form-control" ng-if="addProductForm.variantsForProduct.length" ng-model="addProductForm.selectedVariantIdForProduct" required>
                            <option ng-repeat="variant in addProductForm.variantsForProduct" value="{{variant.id}}">
                                {{variant.size ? 'Taille: ' + variant.size : ''}} {{variant.color && variant.size ? ' - ' : ''}} {{variant.color ? 'Couleur: ' + variant.color : ''}}</option>
                        </select>
                        <button type="button" class="btn btn-success" ng-if="addInProgress" ng-click="submitRow()">Valider</button>
                    </div>
                    <button type="button" class="btn btn-primary" ng-if="!addInProgress" ng-click="addRow()">Ajouter un produit</button>
                    <button type="button" class="btn btn-danger" ng-if="addInProgress" ng-click="cancelAddRow()">Annuler</button>
                </div>
                


                <table ng-if="coupon.value" class="table">
                    <tr>
                        <td>Coupon de réduction</td>
                        <td>{{coupon.code}}</td>
                        <td>{{coupon.value}} %</td>
                    </tr>
                </table>

                <hr/>

                <table>
                    <tr>
                        <td><b>Total HT:</b></td>
                        <td>{{totalInfo.totalHTLabel}}</td>
                    </tr>
                    <tr>
                        <td><b>Total TVA:</b</td>
                        <td>{{totalInfo.totalTVALabel}}</td>
                    </tr>
                    <tr>
                        <td ng-if="totalInfo.couponReduction"><b>Coupon de réduction:</b</td>
                        <td ng-if="totalInfo.couponReduction">{{totalInfo.couponReduction}}</td>
                    </tr>
                    <tr>
                        <td><b>Total TTC:</b</td>
                        <td>{{totalInfo.totalTTCLabel}}</td>
                    </tr>
                    <tr ng-if="totalInfo.reduction && totalInfo.reduction > 0">
                        <td><b>Réduction:</b</td>
                        <td>{{totalInfo.reductionLabel}}</td>
                    </tr>

                    <tr ng-if="totalInfo.reduction && totalInfo.reduction > 0">
                        <td><b>Total TTC après réduction:</b</td>
                        <td>{{totalInfo.totalTTCAfterReductionLabel}}</td>
                    </tr>
                    <tr>
                        <td><b>Timbre fiscale:</b</td>
                        <td>0.600 D.T</td>
                    </tr>
                    <tr>
                        <td><b>Total à payer:</b</td>
                        <td>{{totalInfo.totalLabel}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Livraison et facturation
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h4>Adresse de livraison</h4>
                <p>{{order.delivery_address}}</p>
                <p>{{order.delivery_zipcode}} {{order.delivery_city}}, {{order.delivery_state}}</p>
                <hr/>
                <h4>Adresse de facturation</h4>
                <p>{{order.billing_address}}</p>
                <p>{{order.billing_zipcode}} {{order.billing_city}}, {{order.billing_state}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Message client
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>{{order.client_message}}</p>
            </div>
        </div>
    </div>
</div>
            