<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" ng-src="{{$ctrl.imagesUrls[0]}}" alt="">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel" ng-bind-html="$ctrl.productsThumbsHTML">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>{{$ctrl.product.manufacturer}}</span>
                                <h3>{{$ctrl.product.label}}</h3>
                            </div>
                            <div class="pd-desc">
                                <p>{{$ctrl.product.description}}</p>
                                <h4 ng-if="$ctrl.product.promo_price">{{$ctrl.product.promo_price}} D.T<span>{{$ctrl.product.price}} D.T</span></h4>
                                <h4 ng-if="!$ctrl.product.promo_price">{{$ctrl.product.price}} D.T</h4>
                            </div>
                            <div class="pd-color" ng-if="$ctrl.availableColors.length">
                                <md-input-container>
                                    <label>Couleurs:</label>
                                    <div class="pd-color-choose">
                                        <md-select ng-model="$ctrl.selectedColor">
                                            <md-option ng-repeat="colorVariant in $ctrl.availableColors" ng-value="colorVariant.color">
                                            {{colorVariant.color}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="pd-size-choose" ng-if="$ctrl.availableSizes.length">
                                <div class="sc-item" ng-repeat="availableSize in $ctrl.availableSizes">
                                    <input type="radio" id="{{availableSize.size}} - size">
                                    <label for="{{availableSize.size}} - size" ng-click="$ctrl.selectSize($event, availableSize)">{{availableSize.size}}</label>
                                </div>
                            </div>
                            <div class="product-preview-details-row purchase-row row">
                                <div class="qty-col col-2">Quantité: </div>
                                <md-input-container class="col-2">
                                    <input
                                        mdInput
                                        type="number"
                                        id="myNumber"
                                        min="0"
                                        ng-model="quantity"
                                    />
                                </md-input-container>
                                <md-button class="md-raised md-primary col-4">Ajouter au panier</md-button>
                            </div>
                            <div class="pd-share">
                                <div class="p-code">Référence : {{$ctrl.product.sku}}</div>
                            </div>
                            <div class="product-preview-details-row social-share row">
                                <div class="social-share-label">Partager: </div>
                                <div class="social-share-buttons">
                                    <button class="btn facebook"><i class="fab fa-facebook-f"></i>Facebook</button>
                                    <button class="btn instagram"><i class="fab fa-instagram-square"></i>Instagram</button>
                                    <button class="btn linkedin"><i class="fab fa-linkedin-in"></i>LinkedIn</button>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <h5>Introduction</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                        <h5>Features</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Prix</td>
                                            <td>
                                                <div ng-if="$ctrl.product.promo_price" class="p-price">{{$ctrl.product.promo_price}} D.T<span>{{$ctrl.product.price}} D.T</span></div>
                                                <div ng-if="!$ctrl.product.promo_price" class="p-price">{{$ctrl.product.price}} D.T</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Disponibilité</td>
                                            <td>
                                                <div class="p-stock">{{$ctrl.product.quantity}} unité(s)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Poids</td>
                                            <td>
                                                <div class="p-weight">{{$ctrl.product.weight}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Tailles disponibles</td>
                                            <td>
                                                <div class="p-size">{{$ctrl.AvailableSizesText}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Couleurs disponibles</td>
                                            <td>
                                                <div class="p-size">{{$ctrl.AvailableColorsText}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Référence</td>
                                            <td>
                                                <div class="p-code">{{$ctrl.product.sku}}</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Related Products Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Produits associés</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="newProducts-section-item">
                    <div class="newProducts-section-item-img">
                        <img src="assets/img/products/product-6.jpg" alt="">
                        <div class="img-cap">
                            <span>Ajouter au panier</span>
                        </div>
                    </div>
                    <div class="newProducts-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="newProducts-section-item">
                    <div class="newProducts-section-item-img">
                        <img src="assets/img/products/product-1.jpg" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                    </div>
                    <div class="newProducts-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="newProducts-section-item">
                    <div class="newProducts-section-item-img">
                        <img src="assets/img/products/product-2.jpg" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                    </div>
                    <div class="newProducts-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="newProducts-section-item">
                    <div class="newProducts-section-item-img">
                        <img src="assets/img/products/product-5.jpg" alt="">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                    </div>
                    <div class="newProducts-caption">
                        <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                        <span>$ 45,743</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Products Section End -->