<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Accueil</a>
                    <span>A propos</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<section class="aboutUs-section-vision row">
    <div class="container">
        <h3 class="aboutUs-section-vision-title row">Notre vision</h3>
        <div class="aboutUs-section-vision-description row">
            MEDUSE aspire à faciliter le quotidien des professionnels de la santé en leurs fournissant une variété de
            produits de qualité et de services adéquats à leurs besoins</div>
    </div>
</section>

<section class="aboutUs-section-mission row">
    <div class="container">
        <h3 class="aboutUs-section-mission-title row">Notre mission</h3>
        <div class="aboutUs-section-mission-description row">
            Meduse est une societé tunisienne qui offre une variétés de produits de qualité, à usage <b>&nbsp;médical&nbsp;</b>,
            <b>&nbsp;dentaire&nbsp;</b> et <b>&nbsp;sportif&nbsp;</b> aux professionnels de la santé. Afin de faciliter leurs quotidiens, l’équipe 
            MEDUSE propose à ses clients de divers services dédiés à rendre leur expérience facile et agréable
            tout en respectant ses valeurs fondamentaux de professionnalisme,
            transparence et confiance .
        </div>
    </div>
</section>

<section class="aboutUs-benefits-section row">
    <div class="container">
        <h3 class="aboutUs-benefits-section-title row">Nos valeurs</h3>
        <div class="row">
            <div class="col benefits-item">
                <i class="fa fa-star" aria-hidden="true"></i>
                <h4>Qualité supérieure</h4>
            </div>
            <div class="col benefits-item">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h4>Respect des engagements</h4>
            </div>
            <div class="col benefits-item">
                <i class="fas fa-handshake" aria-hidden="true"></i>
                <h4>Transparence et confiance</h4>
            </div>
        </div>
    </div>
</section>

<!-- Map Section Begin -->
<div class="map">
    <div class="container">
        <div class="map-inner">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.307519326407!2d10.25098901514635!3d36.8590573799366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb8568af33ad%3A0x54d5ee34068c89b0!2sMeduse.tn!5e0!3m2!1sen!2stn!4v1602446949690!5m2!1sen!2stn"
                    height="610" style="border:0" allowfullscreen="">
            </iframe>
        </div>
    </div>
</div>
<!-- Map Section Begin -->

<!-- Contact Section Begin -->
<section class="contact-section spad" id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Contactez nous</h4>
                    <p>Contrary to popular belief, Lorem Ipsum is simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, maki years old.</p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                            <span>Addresse:</span>
                            <p>Résidence Narjess, Les jardins d'El Aouina, 2036 Tunis</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <span>Téléphone:</span>
                            <p>+216 50 55 93 88</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>contact@meduse.tn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Laissez un commentaire</h4>
                        <p>Notre personnel vous rappellera plus tard et répondra à vos questions.</p>
                        <form action="#" role="form" class="comment-form" ng-submit="$ctrl.sendMail()">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input class="form-control" type="text" placeholder="Votre nom" ng-model="$ctrl.senderName" required>
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control" type="email" placeholder="Votre email" ng-model="$ctrl.senderEmail" required>
                                </div>
                                <div class="col-lg-12">
                                    <textarea class="form-control" placeholder="Votre message" ng-model="$ctrl.message" required></textarea>
                                    <button type="submit" class="site-btn">Envoyer le message</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>