<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-tag fa-fw"></i> Produits<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.products-list">Liste des produits</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-product">Ajouter un produit</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-manufacturer">Ajouter une marque</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.manufacturers-list">Liste des marques</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">{{dropDown}}
                <a href="" ng-click="check(2)"><i class="fa fa-list fa-fw"></i> Catégories<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.categories-list">Liste des catégories</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-category">Ajouter une catégorie</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}">{{dropDown}}
                <a href="" ng-click="check(3)"><i class="fa fa-shopping-cart fa-fw"></i> Commandes<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.current-orders">Commandes En cours</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.unpaid-orders">Commandes livrées non payées</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.orders-list">Historique des commandes</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-order">Ajouter une commande</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==4}">{{dropDown}}
                <a href="" ng-click="check(4)"><i class="fa fa-list-alt fa-fw"></i> Blog<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.pubs-list">Liste des publications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-pub">Ajouter une publication</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==5}">{{dropDown}}
                <a href="" ng-click="check(5)"><i class="fa fa-users fa-fw"></i> Clients<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=5">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.clients-list">Liste des clients</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.add-client">Ajouter un client</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==6}">{{dropDown}}
                <a href="" ng-click="check(6)"><i class="fa fa-wrench fa-fw"></i> Configuration<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.home">Informations générales</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.home">Slideshow</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="dashboard.home">Ajouter un administrateur</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



