<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Accueil</a>
                    <span>Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                <div class="blog-sidebar">
                    <div class="search-form">
                        <input type="search" ng-model="$ctrl.filterText" placeholder="Rechercher . . .  " ng-change="$ctrl.updateFiltered()">
                    </div>
                    <div class="blog-tags">
                        <h4>Tags</h4>
                        <div class="tag-item">
                            <div ng-repeat="tag in $ctrl.tags" 
                            ng-click="$ctrl.selectTag(tag)"
                            ng-class="{tagSelected: tag.isSelected}">{{tag.label}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-6 col-sm-6" ng-repeat="blogItem in $ctrl.filteredBlogItems">
                        <div class="blog-item">
                            <div class="bi-pic">
                                <img ng-src={{blogItem.coverlink}} alt="">
                            </div>
                            <div class="bi-text">
                                <a ng-href="#!/blog/{{blogItem.id}}-{{blogItem.title}}">
                                    <h4>{{blogItem.title}}</h4>
                                </a>
                                <p><span>{{blogItem.date}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
