<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->


<section class="BlogSection">
    <div class="container">
        <div ng-repeat="blogItem in $ctrl.blogItems" class="BlogSection-blogItem cw-item card row">
            <div class="BlogSection-blogItem-header row">
                <h3 class="BlogSection-blogItem-header-title col-8">
                    {{blogItem.title}}
                </h3>
                <h5 class="BlogSection-blogItem-header-date col-4">
                    {{blogItem.date}}
                </h5>
            </div>
            <div class="BlogSection-blogItem-content row">
                <div class="BlogSection-blogItem-content-media col-md-6">
                    <iframe ng-if="blogItem.videolink" height="400" ng-src={{$ctrl.trust(blogItem.videolink)}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <img ng-if="blogItem.imagelink" height="400" ng-src={{blogItem.imagelink}}>
                </div>
                <div class="BlogSection-blogItem-content-description col-md-6" ng-bind-html="blogItem.description">
                </div>
            </div>
        </div>
    </div>
</section>