<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ajouter un client</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails du client
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="submit()">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.prefix" value="M.">M.
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.prefix" value="Mme.">Mme.
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Nom et prénom</label>
                        <input class="form-control" ng-model="form.name" required>
                    </div>
                    <div class="form-group">
                        <label>Adresse email</label>
                        <input type="email" class="form-control" ng-model="form.email" required>
                    </div>
                    <div class="form-group">
                        <label>Téléphone</label>
                        <input class="form-control" type="tel" id="phone" name="phone" placeholder="12 345 789" pattern="[0-9]{8}" ng-model="form.phone" required>
                    </div>

                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" minLength=8 ng-model="password" required>
                    </div>

                    <div class="form-group">
                        <label>Confirmer mot de passe</label>
                        <input type="password" class="form-control" minLength=8 ng-model="passwordConfirm" required>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="addToNewsLetter" >Inscrire à notre newsletter
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" data-toggle="modal">Ajouter</button>
                    <button type="button" class="btn btn-danger" ng-click="initForm()">Réinitialiser</button>

                     <!-- Modal -->
                     <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Client ajoutée avec succes</h4>
                                </div>
                                <div class="modal-body">
                                    Nouveau client a été bien ajouté!.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                                </div>
                                <div class="modal-body">
                                   Un problème est survenu lors de l'ajout du client.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="pwdErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Mot de passe non confirmé</h4>
                                </div>
                                <div class="modal-body">
                                   Veuillez vérifier le mot de passe et réessayer
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                </form>
            </div>
        </div>
    </div>
</div>