<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ajouter un client</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails du client
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="submit()">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.prefix" value="M.">M.
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.prefix" value="Mme.">Mme.
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Nom et prénom</label>
                        <input class="form-control" ng-model="form.name" required>
                    </div>
                    <div class="form-group">
                        <label>Adresse email</label>
                        <input type="email" class="form-control" ng-model="form.email" required>
                    </div>
                    <div class="form-group">
                        <label>Téléphone</label>
                        <input class="form-control" type="tel" id="phone" name="phone" placeholder="12 345 789" pattern="[0-9]{8}" ng-model="form.phone">
                    </div>

                    <div class="form-group">
                        <label>Téléphone 2</label>
                        <input class="form-control" type="tel" id="phone2" name="phone2" placeholder="12 345 789" pattern="[0-9]{8}" ng-model="form.phone2">
                    </div>

                    <div class="form-group">
                        <label>Matricule fiscale</label>
                        <input class="form-control" type="text" id="matricule" name="matricule" placeholder="1234567X/Y/Z/123" ng-model="form.mf">
                    </div>

                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="text" class="form-control" minLength=8 ng-model="password" required>
                    </div>

                    <div class="form-group">
                        <label>Confirmer mot de passe</label>
                        <input type="text" class="form-control" minLength=8 ng-model="passwordConfirm" required>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="addToNewsLetter" >Inscrire à notre newsletter
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success" data-toggle="modal">Ajouter</button>
                    <button type="button" class="btn btn-danger" ng-click="initForm()">Réinitialiser</button>

                </form>
            </div>
        </div>
    </div>
</div>