<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ajouter un produit</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails du produit
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="submit()" class="AddProductForm">
                    <div class="form-group required">
                        <label class="control-label">Catégorie </label>
                        <select class="form-control" ng-model="form.selectedCategoryId" required>
                            <option ng-repeat="category in categories track by category.id" value="{{category.id}}">{{category.label}}</option>
                        </select>
                    </div>
                    <div class="form-group required">
                        <label class="control-label">Marque/Constructeur </label>
                        <select class="form-control" ng-model="form.selectedManufacturerId"required>
                            <option ng-repeat="manufacturer in manufacturers track by manufacturer.id" value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                        </select>
                    </div>
                    <div ng-show="(form.selectedCategoryId || form.selectedCategoryId === 0) && (form.selectedManufacturerId || form.selectedManufacturerId === 0)">
                        <div class="form-group required">
                            <label class="control-label">Nom du produit</label>
                            <input class="form-control" ng-model="form.label" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Référence</label>
                            <input class="form-control" ng-model="form.sku" readonly>
                        </div>
                            
                        <div class="form-group required">
                            <label class="control-label">Description</label>
                            <input class="form-control" ng-model="form.description" required>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group input-group">
                                <input type="number" min="0" step="0.001" class="form-control" placeholder="Prix" ng-model="form.price" required>
                                <span class="input-group-addon">D.T</span>
                            </div>
                            <div class="form-group input-group">
                                <input type="number" min="0" step="0.01" max="100" class="form-control" placeholder="TVA" ng-model="form.tva" required>
                                <span class="input-group-addon">%</span>
                            </div>
                            <div class="form-group input-group">
                                <input type="number" min="0" max="{{form.price}}" step="0.001" class="form-control" placeholder="Prix promo" ng-model="form.promo_price">
                                <span class="input-group-addon">D.T</span>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group input-group">
                                <input type="number" min="0" step="1" class="form-control" placeholder="Quantité" ng-model="form.quantity" required>
                                <span class="input-group-addon">unité(s)</span>
                            </div>
                            <div class="form-group input-group">
                                <input type="number" min="0" step="1" class="form-control" placeholder="seuil faible stock (10)" ng-model="form.lowStockThreshold">
                                <span class="input-group-addon">unité(s)</span>
                            </div>
                            <div class="form-group input-group">
                                <input type="number" min="0" step="0.001" class="form-control" placeholder="Poids" ng-model="form.weight">
                                <span class="input-group-addon">Kg</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Présentation</label>
                            <textarea class="form-control" rows="3" ng-model="form.presentation"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Preview</label>
                            <div class="product-description-preview" ng-bind-html="form.presentation"></div>
                        </div>
    
                        <div class="form-group">
                            <label>Lien vidéo</label>
                            <input class="form-control" ng-model="form.videolink">
                        </div>

                        <div class="form-group">
                            <label>Tags (5 maximum)</label>
                            <div class="form-inline">
                                <input class="form-control" ng-model="tagItem">
                                <button type="button" ng-disabled="form.tags.length === 5" class="btn btn-primary" ng-click="addTag()">Ajouter</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <span ng-repeat="tag in form.tags" class="tag-item label label-pill label-default" ng-click="removeTag(tag)">
                                {{tag}}
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Images du produit
                                    </div>
                                    <div class="product-images-container">
                                        <div class="form-group product-images">
                                            <input 
                                                type="file" 
                                                ngf-select 
                                                ng-model="form.files" 
                                                id="productImages" 
                                                name="productImages" 
                                                ngf-pattern="'image/*'" 
                                                accept="image/*" 
                                                ngf-max-size="20MB" 
                                                class="file form-control"
                                                ng-change="filesChanged()"
                                                multiple>
                                            <div class="thumbs-container">
                                                <div class="thumb-item" ng-repeat="thumb in imagesThumbs">
                                                    <i class="fa fa-times" ng-click="deleteThumb(thumb)"></i>
                                                    <img style="width:100px;" ngf-thumbnail="thumb.file || '/thumb.jpg'"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
    
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Variantes dans ce produit
                                    </div>
                                    <div class="productVariantType form-group">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="form.withVariants" name="variantsType" id="optionsRadiosInline1" value="none" ng-change="withVariantsOnchange()">Aucune
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="form.withVariants" name="variantsType" id="optionsRadiosInline2" value="colors" ng-change="withVariantsOnchange()">Couleurs
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="form.withVariants" name="variantsType" id="optionsRadiosInline3" value="sizes" ng-change="withVariantsOnchange()">Tailles 
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="form.withVariants" name="variantsType" id="optionsRadiosInline4" value="colors-sizes" ng-change="withVariantsOnchange()">Couleurs et tailles
                                        </label>
                                    </div>
                                    <div ng-if="form.withVariants !== 'none'">
                                        <div class="productVariantsList">
                                            <div class="productVariantItem variant-colors" ng-if="form.withVariants === 'colors'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-color-input" placeholder="Couleur" ng-model="item.color" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control" ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button class="btn btn-danger" ng-click="deleteItem(item)">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="productVariantItem variant-size" ng-if="form.withVariants === 'sizes'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-size-input" placeholder="Taille" ng-model="item.size" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control"  ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button class="btn btn-danger" ng-click="deleteItem(item)">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="productVariantItem variant-color-size" ng-if="form.withVariants === 'colors-sizes'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-color-input" placeholder="Couleur" ng-model="item.color" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-size-input" placeholder="Taille" ng-model="item.size" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control"  ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button type="button" ng-click="deleteItem(item)" class="btn btn-danger">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="addProductVariantBtn">
                                            <button type="button" class="btn btn-primary" ng-click="addVariant()"> Ajouter une variante</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Ajouter produit</button>
                    
                    <!-- Modal success-->
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Produit ajouté avec succes</h4>
                                </div>
                                <div class="modal-body">
                                    Votre nouveau produit a été bien ajouté!.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal error-->
                    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                                </div>
                                <div class="modal-body">
                                   Un problème est survenu lors de l'ajout du produit
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                
                </form>
            </div>
        </div>
    </div>
</div>