<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Modification du produit</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails du produit
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="submit()" class="EditProductForm">
                    <div class="form-group required">
                        <label class="control-label">Catégorie </label>
                        <select class="form-control" ng-model="form.product.selectedCategoryId" required>
                            <option ng-repeat="category in categories track by category.id" value="{{category.id}}">{{category.label}}</option>
                        </select>
                    </div>
                    <div class="form-group required">
                        <label class="control-label">Marque/Constructeur </label>
                        <select class="form-control" ng-model="form.product.selectedManufacturerId"required>
                            <option ng-repeat="manufacturer in manufacturers track by manufacturer.id" value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                        </select>
                    </div>
                    <div>
                        <div class="form-group required">
                            <label class="control-label">Nom du produit</label>
                            <input class="form-control" ng-model="form.product.label" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Référence</label>
                            <input class="form-control" ng-model="form.product.sku" readonly>
                        </div>

                        <div class="form-group">
                            <label>Afficher aussi des les catégories:</label>
                            <div class="form-group form-inline">
                                <div class="form-check form-check-inline" ng-repeat="ctg in form.extendCategories">
                                    <input class="form-check-input" type="checkbox" ng-id="inlineCheckbox{{ctg.id}}" ng-value="ctg.id" ng-model="ctg.isSelected">
                                    <label class="form-check-label" ng-for="inlineCheckbox{{ctg.id}}">{{ctg.label}}</label>
                                </div>
                            </div>
                        </div>
                            
                        <div class="form-group required">
                            <label class="control-label">Description</label>
                            <input class="form-control" ng-model="form.product.description" required>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" step="0.001" class="form-control" placeholder="Prix" ng-model="form.product.price" required>
                                <span class="input-group-addon">Prix (D.T)</span>
                            </div>
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" max="100" step="0.01" class="form-control" placeholder="TVA" ng-model="form.product.tva" required>
                                <span class="input-group-addon">TVA(%)</span>
                            </div>
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" max="{{form.product.price}}" step="0.001" class="form-control" placeholder="Prix promo" ng-model="form.product.promo_price">
                                <span class="input-group-addon">Prix promo(D.T)</span>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" step="1" class="form-control" placeholder="Quantité" ng-model="form.product.quantity" required>
                                <span class="input-group-addon">Quantité(unité(s))</span>
                            </div>
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" step="1" class="form-control" placeholder="seuil faible stock (10)" ng-model="form.product.lowStockThreshold">
                                <span class="input-group-addon">Faible Stock(unité(s))</span>
                            </div>
                            <div class="form-group input-group col-lg-3">
                                <input type="number" min="0" step="0.001" class="form-control" placeholder="Poids" ng-model="form.product.weight">
                                <span class="input-group-addon">Poids(Kg)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Présentation</label>
                            <textarea class="form-control" rows="3" ng-model="form.product.long_description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Preview</label>
                            <div class="product-description-preview" ng-bind-html="form.product.long_description"></div>
                        </div>
    
                        <div class="form-group">
                            <label>Lien vidéo</label>
                            <input class="form-control" ng-model="form.product.video_link">
                        </div>

                        <div class="form-group">
                            <label>Tags (5 maximum)</label>
                            <div class="form-inline">
                                <input class="form-control" ng-model="tagItem">
                                <button type="button" ng-disabled="form.product.tags.length === 5" class="btn btn-primary" ng-click="addTag()">Ajouter</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <span ng-repeat="tag in form.product.tags" class="tag-item label label-pill label-default" ng-click="removeTag(tag)">
                                {{tag}}
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Images du produit
                                    </div>
                                    <div class="panel-body">
                                        <div class="thumbs-container form-group" dnd-list="form.imagesList">
                                            <div class="thumb-item" ng-repeat="thumb in form.imagesList"
                                                dnd-draggable="thumb" dnd-moved="form.imagesList.splice($index, 1)" dnd-effect-allowed="move"
                                                dnd-dragend="dragEnd()">
                                                <i class="fa fa-times" ng-click="deleteThumb(thumb)"></i>
                                                <img ngf-thumbnail="thumb.url"/>
                                            </div>
                                        </div>

                                        <div class="thumbs-container form-group" ng-if="form.files && form.files.length">
                                            <label>Nouveaux images: &nbsp;&nbsp;</label>
                                            <div class="thumb-item" ng-repeat="file in form.files track by $index">
                                                <i class="fa fa-times" ng-click="deleteFile(file)"></i>
                                                <img ngf-thumbnail="file"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Ajouter des images</label>
                                            <input 
                                                type="file" 
                                                ngf-select 
                                                ng-model="form.files" 
                                                id="productImages" 
                                                name="productImages" 
                                                ngf-pattern="'image/*'" 
                                                accept="image/*" 
                                                ngf-max-size="20MB" 
                                                class="file form-control" 
                                                multiple>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Variantes dans ce produit
                                    </div>
                                    <div class="productVariantType form-group">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="withVariants" name="variantsType" id="optionsRadiosInline1" value="none" ng-change="withVariantsOnchange()">Aucune
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="withVariants" name="variantsType" id="optionsRadiosInline2" value="colors" ng-change="withVariantsOnchange()">Couleurs
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="withVariants" name="variantsType" id="optionsRadiosInline3" value="sizes" ng-change="withVariantsOnchange()">Tailles 
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="withVariants" name="variantsType" id="optionsRadiosInline4" value="colors-sizes" ng-change="withVariantsOnchange()">Couleurs et tailles
                                        </label>
                                    </div>
                                    <div ng-if="withVariants !== 'none'">
                                        <div class="productVariantsList">
                                            <div class="productVariantItem variant-colors" ng-if="withVariants === 'colors'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-color-input" placeholder="Couleur" ng-model="item.color" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control" ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button class="btn btn-danger" ng-click="deleteItem(item)">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="productVariantItem variant-size" ng-if="withVariants === 'sizes'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-size-input" placeholder="Taille" ng-model="item.size" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control"  ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button class="btn btn-danger" ng-click="deleteItem(item)">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="productVariantItem variant-color-size" ng-if="withVariants === 'colors-sizes'" ng-repeat="item in form.variants">
                                                <div class="form-inline">
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-color-input" placeholder="Couleur" ng-model="item.color" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control variant-size-input" placeholder="Taille" ng-model="item.size" ng-change="variantPropertyChanged(item)" required></input>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input type="number" min="0" step="1" class="form-control variant-qty-input" placeholder="Quantité" ng-model="item.quantity" required>
                                                        <span class="input-group-addon">unité(s)</span>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <input class="form-control"  ng-model="item.sku" readonly>
                                                    </div>
                                                    <div class="form-group input-group">
                                                        <button type="button" ng-click="deleteItem(item)" class="btn btn-danger">Supprimer</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="addProductVariantBtn">
                                            <button type="button" class="btn btn-primary" ng-click="addVariant()"> Ajouter une variante</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                    
                    <!-- Modal success-->
                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Produit modifié avec succes</h4>
                                </div>
                                <div class="modal-body">
                                    Votre produit a été modifié avec succès!.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal error-->
                    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                                </div>
                                <div class="modal-body">
                                   Un problème est survenu lors de la modification du produit
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                
                </form>
            </div>
        </div>
    </div>
</div>