<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Modifier une marque</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Détails de la marque
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form role="form" ng-submit="submit()">
                    <div class="form-group">
                        <label>Nom de la marque</label>
                        <input class="form-control" ng-model=manufacturer.name required>
                    </div>
                    <div class="form-group">
                        <label>Site web</label>
                        <input class="form-control" ng-model=manufacturer.webSite></textarea>
                    </div>

                    <button type="submit" ng-click="submit()" class="btn btn-success" data-toggle="modal">Valider</button>
                    <button type="reset" class="btn btn-danger">Réinitialiser</button>

                     <!-- Modal -->
                     <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Modification avec succès</h4>
                                </div>
                                <div class="modal-body">
                                    La marque a été bien modifiée!.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="redirect()">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    <!-- Modal -->
                    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Erreur</h4>
                                </div>
                                <div class="modal-body">
                                   Un problème est survenu lors de l'édition de la marque
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                </form>
            </div>
        </div>
    </div>
</div>