<div class="ProductItem">
    <div class="ProductItem-img">
        <a href="#!/product/{{$ctrl.product.id}}">
            <img ng-src="{{$ctrl.product.imgUrl}}">
        </a>
        
        <div class="img-cap">
            <div class="ProductItem-preview" ng-click="$ctrl.openPreviewPopup($event)">
                <i class="fas fa-eye fa-lg"></i>
            </div>
            <div class="ProductItem-addToCart" ng-click="$ctrl.addToCart()">
                <i class="fas fa-shopping-cart fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="ProductItem-caption">
        <h3><a href="#!/product/{{$ctrl.product.id}}">{{$ctrl.product.label}}</a></h3>
        <span>{{$ctrl.product.price}} DT</span>
    </div>
</div>