<div class="product-preview container">
    <div class="row">
        <div class="col-md-6">
            <div class="product-pic-zoom">
                <img class="product-big-img" ng-src="{{imagesUrls[0]}}" alt="">
                <div class="zoom-icon">
                    <i class="fa fa-search-plus"></i>
                </div>
            </div>
            <div class="product-thumbs">
                <div class="product-thumbs-track ps-slider owl-carousel">
                    <div class="pt" ng-repeat="url in imagesUrls" ng-data-imgbigurl="{{url}}"><img
                        ng-src="{{url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form role="form" ng-submit="addToCart()">
                <div class="form-group">
                    <label class="row-label"> {{product.label}} </label>
                </div>
                <div class="form-group">
                    <label> Référence: {{product.sku}} </label>
                </div>
                <div class="form-group" ng-if="!product.promo_price">
                    <h4 style="color: #33c0ec;">{{product.price.toFixed(3)}} D.T</h4>
                    <h5>TTC</h5>
                </div>
                <div class="form-group" ng-if="product.promo_price">
                    <h4 style="color: #33c0ec;">{{product.promo_price.toFixed(3)}} D.T <del style="color: #b2b2b2; font-size: 15px;">{{product.price.toFixed(3)}}</del></h4>
                    <h5>TTC</h5>
                </div>
                <div class="form-group">
                    {{product.description}}
                </div>
                <div class="form-group" ng-if="hasColors">
                    <label>Couleur:</label>
                    <select class="form-control col-md-4" ng-model="form.selectedColor" ng-change="colorSelected()" required>
                        <option ng-repeat="item in availableColors" ng-value="item">{{item.color}}</option>
                    </select>
                </div>
                <div class="form-group" ng-if="availableSizes.length">
                    <label>Taille: </label>
                    <div class="sc-item" ng-repeat="availableSize in availableSizes">
                        <input type="radio" name="size" ng-value="availableSize" ng-model="form.selectedSize">
                        <label for="{{availableSize.size}} - size" ng-click="selectSize($event, availableSize)">{{availableSize.size}}</label>
                    </div>
                </div>
                <hr/>
                <div class="form-group" ng-show="!outOfStock && selectedVariantAvailable">
                    <label>Qunatité</label>
                    <div class="quantity">
                        <div class="pro-qty">
                            <input type="text" ng-model="form.quantity">
                        </div>
                        <div class="primary-btn pd-cart noselect" ng-click="addToCart()">Ajouter au panier</div>
                    </div>
                </div>
                <div class="form-group out-of-stock" ng-show="outOfStock">
                    <div class="alert alert-danger" role="alert">
                        Actuellement indisponible.
                    </div>
                </div>
                <div class="form-group out-of-stock" ng-show="!outOfStock && !selectedVariantAvailable">
                    <div class="alert alert-danger" role="alert">
                        Produit non disponible avec les caractéristiques choisies.
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="social-links">
                        <div id="fb-share-button" ng-click="share()">
                            <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                                <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
                            </svg>
                            <span>Partager</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>