<div class="ProductItem">
    <div class="ProductItem-img">
        <a ng-href="{{$ctrl.href}}">
            <img ng-if="$ctrl.image" ng-src="{{$ctrl.image}}">
            <img ng-if="!$ctrl.image" src="assets/img/no-image.jpg">
            <div class="sales-tag" ng-if="$ctrl.product.onSale">{{$ctrl.product.onsalePercentage}}</div>
            <div class="exclusif-tag" ng-if="$ctrl.product.isExclusif">Accès exclusif</div>
        </a>
        
        <div class="img-cap">
            <div class="ProductItem-preview" ng-click="$ctrl.openPreviewPopup($event)">
                <i class="fas fa-eye fa"></i>
            </div>
            <div class="ProductItem-addToCart" ng-click="$ctrl.addToCart()">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="ProductItem-caption">
        <a ng-href="{{$ctrl.href}}">{{$ctrl.product.label}}</a>
        <div ng-if="!$ctrl.product.promo_price">
            <span class="price">{{$ctrl.product.price.toFixed(3)}} DT</span>
        </div>
        <div ng-if="$ctrl.product.promo_price">
            <span class="price">{{$ctrl.product.promo_price.toFixed(3)}} D.T</span> <br/>
            <span class="old-price">{{$ctrl.product.price.toFixed(3)}} D.T</span>
        </div>
    </div>
</div>