<div class="ProductItem">
    <div class="ProductItem-img">
        <img ng-if="!$ctrl.image" src="assets/img/no-image.jpg" alt="">
        <img ng-if="$ctrl.image" ng-src="{{$ctrl.image}}" alt="">
        <div class="img-cap">
            <div class="ProductItem-preview">
                <i class="fas fa-eye fa-spin fa-lg"></i>
            </div>
            <div class="ProductItem-addToCart" ng-click="$ctrl.addToCart()">
                <i class="fas fa-shopping-cart fa-spin fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="ProductItem-caption">
        <h3><a href="product_details.html">{{$ctrl.product.label}}</a></h3>
        <span>{{$ctrl.product.price}} DT</span>
    </div>
</div>