.product-preview {
    padding: 30px 15px;
}

.product-preview-image {
    padding: 0 10px;
}

.product-preview-details {
    display: flex;
    flex-direction: column;
}

.product-preview-details-separator {
    border-bottom: 1px solid lightgray;
}

.product-preview-details-row {
    padding: 10px 0;
}

.row-label {
    font-weight: 800;
    font-size: 28px;
}

.product-preview .primary-btn.pd-cart {
    cursor: pointer;
}
