<div class="product-preview row">
    <div class="product-preview-image col-md-5">
        <img ng-src="{{image}}">
    </div>
    <div class="product-preview-details col-md-7">
        <div class="product-preview-details-row row-label row">
            {{product.label}}
        </div>
        <div class="product-preview-details-row row">
            Réference: {{product.sku}}
        </div>
        <div class="product-preview-details-row row row-price">
            <div ng-if="product.promo_price && !product.premium_price">
                <del>{{product.price}} TND </del> &nbsp; &nbsp; {{product.promo_price}} TND &nbsp; &nbsp; &nbsp; {{}}
            </div>
            <div ng-if="!product.promo_price && product.premium_price"></div>
            <div ng-if="!product.promo_price && !product.premium_price">
                {{product.price}} TND
            </div>
        </div>
        <div class="product-preview-details-row row">
            {{product.description}}
        </div>
        
        <div class="product-preview-details-row row product-preview-details-separator"></div>
        <div class="product-preview-details-row purchase-row row">
            <div class="qty-col col-2">Quantité: </div>
            <md-input-container class="col-2">
                <input
                    mdInput
                    type="number"
                    id="myNumber"
                    min="0"
                    ng-model="quantity"
                />
            </md-input-container>
            <md-button class="md-raised md-primary col-4">Ajouter au panier</md-button>
        </div>
        <div class="product-preview-details-row row product-preview-details-separator"></div>
        <div class="product-preview-details-row social-share row">
            <div class="social-share-label">Partager: </div>
            <div class="social-share-buttons">
                <button class="btn facebook"><i class="fab fa-facebook-f"></i>Facebook</button>
                <button class="btn instagram"><i class="fab fa-instagram-square"></i>Instagram</button>
                <button class="btn linkedin"><i class="fab fa-linkedin-in"></i>LinkedIn</button>    
            </div>
        </div>
        <div class="product-preview-details-row row"></div>
        <div class="product-preview-details-row row"></div>

    </div>
</div>