/*---------------------
  Product Shop
-----------------------*/

.product-shop.spad {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media only screen and (max-width: 767px) {
	.product-shop.spad {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.product-shop .newProducts-section-item {
	margin-bottom: 50px;
    text-align: center!important;
}
.product-shop .newProducts-section-item-img {
	overflow: hidden;
    border-bottom: 3px solid #33c0ec;
    margin-bottom: 19px;
    position: relative;
}
.product-shop .newProducts-section-item-img img {
	width: 100%;
}
.product-shop .newProducts-section-item-img .img-cap {
	position: absolute;
    bottom: -20%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.product-shop .newProducts-section-item-img .img-cap span {
	color: #fff;
    background: #33c0ec;
    padding: 20px 0;
    display: block;
    cursor: pointer;
}
.product-shop .newProducts-section-item-img:hover .img-cap {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

.product-shop .newProducts-section-item .newProducts-caption a {
	color: #444;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}

.filter-widget {
	margin-bottom: 45px;
}

.filter-widget .fw-title {
	color: #252525;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 26px;
}

.filter-widget .fw-brand-check .bc-item {
	margin-bottom: 3px;
}

.filter-widget .fw-brand-check .bc-item label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
}

.filter-widget .fw-brand-check .bc-item label input {
	position: absolute;
	visibility: hidden;
}

.filter-widget .fw-brand-check .bc-item label input:checked~span {
	background: #33c0ec;
	border-color: #33c0ec;
}

.filter-widget .fw-brand-check .bc-item label .checkmark {
	position: absolute;
	left: 0;
	top: 5px;
	height: 15px;
	width: 15px;
	border: 2px solid #ebebeb;
	border-radius: 2px;
}

.filter-widget .fw-brand-check .bc-item label .checkmark:after {
	left: 0;
	top: 0;
	width: 10px;
	height: 8px;
	border: solid white;
	border-width: 3px 3px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
}

.filter-widget .filter-range-wrap {
	margin-bottom: 40px;
}

.filter-widget .filter-range-wrap .range-slider {
	margin-bottom: 25px;
}

.filter-widget .filter-range-wrap .range-slider .price-input {
	position: relative;
}

.filter-widget .filter-range-wrap .range-slider .price-input:after {
	position: absolute;
	left: 58px;
	top: 13px;
	height: 1px;
	width: 17px;
	background: #ebebeb;
	content: "";
}

.filter-widget .filter-range-wrap .range-slider .price-input input {
	font-size: 16px;
	color: #252525;
	max-width: 20%;
	text-align: center;
	border: 1px solid #ebebeb;
	border-radius: 2px;
}

.filter-widget .filter-range-wrap .range-slider .price-input input:nth-child(1) {
	margin-right: 28px;
}

.filter-widget .filter-range-wrap .price-range {
	border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #ebebeb;
	height: 3px;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 1px 6px 14px -4px #425c6d;
	box-shadow: 1px 6px 14px -4px #425c6d;
	outline: none;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range {
	background: #ebebeb;
	border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
	background: #33c0ec;
}

.filter-widget .filter-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	background: #33c0ec;
	padding: 7px 20px 5px;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}

.filter-widget .fw-color-choose .cs-item {
	width: 50%;
	float: left;
	margin-bottom: 4px;
}

.filter-widget .fw-color-choose .cs-item input {
	position: absolute;
	visibility: hidden;
}

.filter-widget .fw-color-choose .cs-item label {
	cursor: pointer;
	position: relative;
	padding-left: 33px;
	font-size: 16px;
	color: #636363;
}

.filter-widget .fw-color-choose .cs-item label.cs-violet:before {
	background: #8230E3;
}

.filter-widget .fw-color-choose .cs-item label.cs-blue:before {
	background: #2773BE;
}

.filter-widget .fw-color-choose .cs-item label.cs-yellow:before {
	background: #EEEE21;
}

.filter-widget .fw-color-choose .cs-item label.cs-red:before {
	background: #DC3232;
}

.filter-widget .fw-color-choose .cs-item label.cs-green:before {
	background: #81D742;
}

.filter-widget .fw-color-choose .cs-item label:before {
	position: absolute;
	left: 0;
	top: 4px;
	height: 18px;
	width: 18px;
	background: #252525;
	border-radius: 50%;
	content: "";
}

.filter-widget .fw-size-choose .sc-item {
	display: inline-block;
	margin-right: 5px;
}

.filter-widget .fw-size-choose .sc-item:last-child {
	margin-right: 0;
}

.filter-widget .fw-size-choose .sc-item input {
	position: absolute;
	visibility: hidden;
}

.filter-widget .fw-size-choose .sc-item label {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	height: 40px;
	width: 47px;
	border: 1px solid #ebebeb;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

.filter-widget .fw-size-choose .sc-item label.active {
	background: #252525;
	color: #ffffff;
}

.filter-widget .fw-tags a {
	display: inline-block;
	font-size: 16px;
	color: #636363;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	margin-right: 5px;
	margin-bottom: 9px;
	border-radius: 2px;
}

.checkmark:after {
	position: absolute;
	content: "";
}

.product-show-option {
	margin-bottom: 30px;
}

.product-show-option .select-option {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.product-show-option .select-option .nice-select {
	border-radius: 0;
	border: 1px solid #ECEDEE;
	height: 40px;
	line-height: 35px;
}

.product-show-option .select-option .nice-select .list {
	margin-top: 0;
	border-radius: 0;
	width: 100%;
}

.product-show-option .select-option .nice-select:after {
	border-bottom: 2px solid #4c4c4c;
	border-right: 2px solid #4c4c4c;
	height: 7px;
	right: 22px;
	top: 47%;
	width: 7px;
	opacity: 0.7;
}

.product-show-option .select-option .nice-select span {
	font-size: 16px;
	color: #4c4c4c;
}

.product-show-option .select-option .sorting {
	margin-right: 20px;
}

.product-show-option .select-option .sorting.nice-select {
	padding-right: 70px;
}

.product-show-option .select-option .p-show.nice-select {
	padding-right: 105px;
}

.product-show-option .select-option .p-show.nice-select:before {
	position: absolute;
	right: 48px;
	top: 0;
	content: "09";
	font-size: 16px;
	color: #252525;
}

.product-show-option p {
	margin-bottom: 0;
	color: #636363;
	line-height: 39px;
}

.product-shop .product-list {
	width: 100%;
}

.prduct-list .product-item {
	margin-bottom: 25px;
}

.loading-more {
	text-align: center;
	padding-top: 10px;
}

.loading-more i {
	font-size: 22px;
	color: #663333;
	margin-right: 6px;
	position: relative;
	top: 7px;
}

.loading-more a {
	font-size: 18px;
	font-weight: 700;
	color: #252525;
	position: relative;
	display: inline-block;
}

.loading-more a:before {
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 2px;
	background: #33c0ec;
	content: "";
}

.product-list-pagination {
	display: flex;
	justify-content: center;
}

.product-shop .search-form {
	margin-bottom: 55px;
}

.product-shop .search-form h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 12px;
}

.product-shop .search-form form {
	position: relative;
}

.product-shop .search-form form input {
	height: 40px;
	width: 100%;
	border: 2px solid #ECECEC;
	padding-left: 20px;
	font-size: 18px;
	color: #3d3d3d;
}

.product-shop .search-form form button {
	position: absolute;
	right: 0;
	top: 0;
	color: #ffffff;
	background: #33c0ec;
	border: 1px solid #33c0ec;
	height: 40px;
	padding: 0 15px;
	cursor: pointer;
}
