<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Accueil</a>
                    <span>{{$ctrl.categoryName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option" ng-if="$ctrl.products.length">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="select-option">
                                <select class="sorting" ng-model="$ctrl.orderBy" ng-change="$ctrl.updateProducts()">
                                    <option value="default">Par défaut</option>
                                    <option value="priceUp">Prix croissant</option>
                                    <option value="priceDown">Prix décroissant</option>
                                    <option value="AZ">De A à Z</option>
                                    <option value="ZA">De Z à A</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="search-form">
                                <form>
                                    <input type="text" placeholder="Rechecrcher..." ng-model="$ctrl.filterQuery" ng-change="$ctrl.updateProducts()">
                                </form>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-5 col-md-5 text-right">
                            <p> {{$ctrl.currentPage * $ctrl.itemsPerPage + 1}} - {{($ctrl.currentPage + 1) * $ctrl.itemsPerPage }} de {{$ctrl.count}} Produits</p>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-if="$ctrl.products.length" class="product-list">
                <div class="row">
                    <div class="col-lg-3 col-sm-6" ng-repeat="product in $ctrl.filteredProducts">
                        <product-item product="product"></product-item>
                    </div>
                </div>
                <!--
                <div class="product-list-pagination row">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li ng-repeat="page in $ctrl.pages" class="page-item"><a class="page-link" href="" ng-click="$ctrl.loadProducts(page)">{{page + 1}}</a></li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                        </ul>
                </div>
                -->
            </div>
            <div ng-if="$ctrl.products.length === 0">
                Auccun produit dans cette catégorie.
            </div>
        </div>
    </div>
</section>