/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
.back-to-top {
	display: none;
	position: fixed;
    bottom: 20px;
    left: 20px;
	z-index: 99;
	background-color: #33c0ec;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
.back-to-top:hover {
	background-color: #dae0e5;
	border: #dae0e5;
}

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Muli", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

/*Adding asterisk to required */
.form-group.required .control-label:after { 
	content:"*";
	color:red;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

.tittle {
    text-align: center;
    text-transform: uppercase;
}
.tittle h2 {
    font: 400 24px oswald,sans-serif;
    color: #222;
    padding-top: 90px;
    position: relative;
}
.tittle h2 a {
    font: 400 24px oswald,sans-serif;
    color: #222;
    padding-top: 90px;
    position: relative;
}
.tittle h2:hover a {
    color: #33c0ec;
}


.tittle h4 {
    font: 400 14px roboto,sans-serif;
    color: #555;
    padding-top: 55px;
}

.tittle h2:after {
    content: "";
    position: absolute;
    background: #19346d;
    height: 5px;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.subtittle h2 {
    font: 700 36px roboto,sans-serif;
    color: #222;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}

.noselect {
	touch-action: manipulation;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #93a1a5;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #33c0ec;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #33c0ec;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #33c0ec;
	border: 1px solid #33c0ec;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}

.site-btn-default {
	color: #000000;
	background: #ffffff;
	border: 1px solid #ebebeb;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}

.site-btn-default:hover {
	text-decoration: none !important;
	color: #000000 !important;
	outline: none !important;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
	opacity: 0.9;
	display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
	opacity: 0.7;
	width: 70px;
	height: 70px;
	position: absolute;
	animation: loader 1s linear infinite;
	-webkit-animation: loader 1s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/*-------------------------------- Other Pages Style -------------------------------*/

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text.product-more a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: #252525;
	margin-right: 28px;
	position: relative;
}

.breadcrumb-text a:after {
	position: absolute;
	right: -18px;
	top: 0px;
	content: "";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
	text-transform: capitalize;
}

/*---------------------
	Page section
----------------------*/
.section {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*---------------------
	Page Title
----------------------*/

.page-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-bottom: 40px;
	text-transform: uppercase;
}

.page-title h3 {
	padding-bottom: 10px;
}

.page-title .title-separator {
	border:	2px solid #19346d;
	background-color: #19346d;
	width: 150px;
}

.page-title .title-description {
	margin-top: 10px;
}

/*---------------------
  Product Details
-----------------------*/

.product-shop.page-details {
	padding-bottom: 60px;
}
/* --------------- */


/*---------------------
  Shopping Cart
-----------------------*/

.shopping-cart {
	padding-top: 80px;
	padding-bottom: 60px;
}

.cart-table {
	margin-bottom: 40px;
}

.cart-table table {
	width: 100%;
	min-width: 480px;
	border: 1px solid #ebebeb;
}

.cart-table table tr th {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	padding: 18px 0 19px;
	text-transform: uppercase;
}

.cart-table table tr th.p-name {
	text-align: left;
}

.cart-table table tr td {
	text-align: center;
	padding-bottom: 34px;
}

.cart-table table tr td.first-row {
	padding-top: 30px;
}

.cart-table table tr td.cart-pic {
	width: 21%;
}

.cart-table table tr td.cart-title {
	text-align: left;
}

.cart-table table tr td.cart-title h5 {
	color: #252525;
}

.cart-table table tr td.p-price {
	width: 16%;
}

.cart-table table tr td.p-price,
.cart-table table tr td.total-price {
	color: #33c0ec;
	font-size: 16px;
	font-weight: 700;
}

.cart-table table tr td.qua-col {
	width: 16%;
}

.cart-table table tr td.qua-col .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table table tr td.qua-col .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}

.cart-table table tr td.total-price {
	width: 12%;
}

.cart-table table tr td.close-td {
	font-size: 16px;
	color: #252525;
	width: 8%;
}

.cart-table table tr td.close-td i {
	cursor: pointer;
}

.cart-buttons {
	margin-bottom: 34px;
}

.cart-buttons .continue-shop {
	color: #b2b2b2;
	border: 2px solid #ebebeb;
	background: #ffffff;
	margin-right: 8px;
	padding: 12px 20px 12px 20px;
	margin-bottom: 10px;
}

.cart-buttons .up-cart {
	color: #252525;
	background: #f3f3f3;
	border: 2px solid #ebebeb;
	padding: 12px 20px 12px 20px;
}

/* ------------------------------ Responsive Media Styles ---------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
	.nav-item .nav-menu li a {
		padding: 16px 45px 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-item .nav-menu li a {
		padding: 16px 26px 15px;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 5px;
	}
	.countdown-timer .cd-item {
		margin-right: 26px;
	}
	.product-details .quantity .primary-btn.pd-cart {
		padding: 14px 30px 10px;
	}
	.tab-item ul li a {
		padding: 18px 39px;
	}
}

@media only screen and (max-width: 991px) {
	.banner-section {
		padding: 80px 0 50px;
	}
	.single-banner {
		margin-bottom: 30px;
	}
	.women-banner {
		padding-right: 0;
		padding-left: 0;
	}
	.product-large {
		margin-left: 0;
		margin-right: 0;
	}
	.deal-of-week {
		margin-left: 0;
		margin-right: 0;
	}
	.product-slider .owl-nav button[type=button] {
		display: none;
	}
	.man-banner {
		padding-right: 0;
		padding-left: 0;
	}
	.place-order {
		padding-top: 30px;
	}
	.blog-tags {
		padding-bottom: 40px;
	}
	.blog-details-inner .blog-post .prev-blog {
		margin-bottom: 40px;
	}
	.contact-form {
		padding-top: 40px;
	}
	.product-large.m-large {
		margin-top: 40px;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 5px;
	}
	.product-shop.page-details .product-details {
		padding-top: 30px;
	}
}

/* Tablet Device: 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-top .ht-right .login-panel {
		padding-left: 10px;
	}
	.header-top .ht-right .top-social {
		padding-right: 10px;
	}
	.header-top .ht-left .mail-service {
		padding-right: 10px;
	}
	.header-top .ht-left .phone-service {
		padding-left: 10px;
	}
	.header-top .ht-right .top-social a {
		margin-left: 10px;
	}
	.inner-header .nav-right li {
		margin-left: 8px;
	}
	.nav-item .nav-depart .depart-btn {
		padding: 14px 40px 14px 18px;
	}
	.nav-item .nav-menu li a {
		padding: 16px 10px 15px;
	}
	.instagram-photo .insta-item .inside-text h5 {
		font-size: 14px;
	}
	.tab-item ul li a {
		padding: 18px 39px;
	}
	.hero-items .off-card {
		left: 62%;
	}
	.blog-details-inner .blog-post .prev-blog {
		padding-left: 30px;
	}
	.blog-details-inner .blog-post .next-blog {
		padding-right: 30px;
	}
	.blog-sidebar,
	.produts-sidebar-filter {
		padding-top: 50px;
	}
	.checkout-content input {
		margin-top: 50px;
	}
}

/* Large Device: 480px */

@media only screen and (max-width: 767px) {
	.instagram-photo .insta-item {
		width: 50%;
		height: 300px;
	}
	.copyright-reserved .copyright-text {
		float: none;
		margin-bottom: 10px;
		text-align: center;
	}
	.copyright-reserved .payment-pic {
		float: none;
		text-align: center;
	}
	.header-top .ht-left,
	.header-top .top-social {
		display: none;
	}
	.header-top .ht-right .login-panel {
		padding-top: 9px;
		padding-bottom: 7px;
	}
	.header-top .ht-right .lan-selector {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.inner-header {
		padding: 0;
	}
	.inner-header .nav-right {
		text-align: left;
	}
	.inner-header .nav-right li:first-child {
		margin-left: 0;
	}
	.nav-item .nav-depart .depart-btn {
		padding: 14px 50px 14px 18px;
	}
	.nav-item {
		background: transparent;
	}
	.nav-item .nav-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		text-align: center;
		margin-top: -48px;
	}
	.slicknav_nav {
		background: #333;
	}
	.slicknav_nav ul {
		margin: 0;
		text-align: left;
	}
	.slicknav_nav a,
	.slicknav_nav .slicknav_row {
		margin: 0;
	}
	.slicknav_nav .dropdown a {
		padding-left: 25px;
	}
	.nav-item .nav-depart {
		display: none;
	}
	.slicknav_btn {
		border-radius: 0;
		background-color: #33c0ec;
		display: inline-block;
		right: -16px;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 8px 15px;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: #33c0ec;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #33c0ec;
		color: #fff;
	}
	.inner-header .nav-right li.cart-icon .cart-hover {
		left: -50px;
	}
	.product-show-option p {
		text-align: left;
	}
	.tab-item ul li a {
		padding: 18px 51px;
		margin-bottom: 10px;
	}
	.cart-table {
		overflow: auto;
	}
	.cart-table table tr th {
		font-size: 12px;
	}
	.hero-items .single-hero-items {
		padding: 110px 25px 80px;
		height: auto;
		background: left center;
	}
	.hero-items .single-hero-items h1 {
		font-size: 40px;
	}
	.hero-items .off-card {
		display: none;
	}
	.ps-slider .owl-nav button[type=button] {
		left: 0;
	}
	.ps-slider .owl-nav button[type=button].owl-next {
		right: 0;
	}
	.blog-details-inner .blog-post .prev-blog {
		padding-left: 30px;
	}
	.blog-details-inner .blog-post .next-blog {
		padding-right: 30px;
	}
	.blog-details-inner .posted-by {
		padding: 40px 25px;
		text-align: center;
	}
	.blog-details-inner .posted-by .pb-pic {
		float: none;
		margin-bottom: 30px;
	}
	.blog-details-inner .posted-by .pb-text {
		padding-left: 0;
	}
	.blog-sidebar,
	.produts-sidebar-filter {
		padding-top: 50px;
	}
	.checkout-content input {
		margin-top: 50px;
	}
}

/* Small Device: 320px */

@media only screen and (max-width: 479px) {
	.instagram-photo .insta-item {
		width: 100%;
	}
	.countdown-timer .cd-item {
		margin-right: 5px;
		padding: 10px 6px;
	}
	.product-show-option .select-option {
		display: inline-block;
	}
	.product-show-option .select-option .sorting.nice-select {
		margin-bottom: 10px;
	}
	.product-details .quantity .primary-btn.pd-cart {
		padding: 14px 20px 10px;
	}
	.tab-item ul li a {
		padding: 18px 30px;
		margin-bottom: 10px;
	}
	.specification-table table tr td.p-catagory {
		width: 160px;
	}
	.checkout-form .place-order .order-total {
		padding-left: 20px;
		padding-right: 20px;
	}
	.contact-widget .cw-item .ci-icon {
		float: none;
		margin-bottom: 5px;
	}
	.contact-widget .cw-item .ci-text {
		padding-left: 0;
	}
}
