<div class="LoginSection section">
    <div class="container">
        <div class="LoginSection-text"> 
            <h3>Connectez vous à votre compte</h3>
            <div class="LoginSection-text-separator"></div>
            <p class="LoginSection-message">{{$ctrl.message}}</p>
        </div>
        <form role="form" ng-submit="$ctrl.submit()" class="LoginSection-container">
            <div ng-style="$ctrl.showAlert ? {opacity: 1} : {opacity: 0}" class="form-group alert alert-danger" role="alert">
                Veuillez vérifier votre adresse email et/ou votre mot de passe
            </div>
            <div class="LoginSection-email form-group">
                <label for="emailInput">E-mail</label>
                <input name="email" type="email" class="form-control" ng-model="$ctrl.email" required/>
            </div>
            <div class="LoginSection-password">
                <label for="passwordInput">Mot de passe</label>
                <input name="email" type="password" class="form-control" minlength="8" ng-model="$ctrl.password" required/>
            </div>
            <div class="LoginSection-resetPassword">
                <a href="#!/passwordReset">Mot de passe oublié?</a>
            </div>
            <div class="LoginSection-login">
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
            <div>
                <a href="#!/register" type="button" class="btn btn-success">Pas de compte? Créez-en un</a>
            </div>
        </form>
            
    </div>
</div>