<md-dialog class="cart-dialog" aria-label="Produit ajouté au panier avec succès">
    <form class="cart-dialog-form" ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Produit ajouté au panier avec succès</h2>
          <span flex></span>
          <div class="md-icon-button" ng-click="close()">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </md-toolbar>
  
      <md-dialog-content>
        <div class="md-dialog-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <img ng-src="{{image}}">
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <p><b>{{product.label}}</b></p>
                                <p ng-if="product.promo_price"><b>{{product.promo_price}} D.T</b></p>
                                <p ng-if="!product.promo_price"><b>{{product.price}} D.T</b></p>
                                <p><b>Quantité: {{count}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <p>Il y a <b>{{productsInCart}}</b> produit(s) dans votre panier</p>
                        <p>Total produits TTC: <b>{{cartTotal}} D.T</b></p>
                        <p>Frais de transport: <b>{{shipment}}</b></p>
                        <p>Total TTC: <b>{{total}} D.T</b></p>
                        <div class="row">
                            <div class="col-lg-6">
                                <md-button class="md-raised" ng-click="close()">
                                    Continuer mes achats
                                </md-button>
                            </div>
                            <div class="col-lg-6">
                                <md-button class="md-raised md-primary" ng-click="goToCart()" md-autofocus>
                                    Passer la commande
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </md-dialog-content>
    </form>
  </md-dialog>