<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Accueil</a>
                    <span>Mon panier</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<div class="CartSection container">
    <div class="tittle wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <h2>Récapitulatif de ma commande</h2>
        <h4></h4>
    </div>

    <div class="CartSection-content">
        <table class="CartSection-content-table table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Produit</th>
                <th scope="col">Description</th>
                <th scope="col">Disponibilité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in $ctrl.cartItems"class="CartSection-content-table-item">
                <th scope="row" class="CartSection-content-table-item-img"><img ng-src="{{item.product.image}}"></th>
                <td class="CartSection-content-table-item-text">{{item.product.label}}</td>
                <td class="CartSection-content-table-item-text">Disponible</td>
                <td class="CartSection-content-table-item-text">{{item.product.price}} TND</td>
                <td class="CartSection-content-table-item-quantity">
                    <input min="0" type="number" id="quantity" name="quantity" step="1" ng-model="item.quantity" ng-change="$ctrl.update()">
                </td>
                <td class="CartSection-content-table-item-text">{{item.quantity * item.product.price}} TND</td>
              </tr>
            </tbody>
        </table>
        <div class="CartSection-content-total">
            <div class="CartSection-content-total-container">
                <div class="CartSection-content-total-line">
                    <div class="CartSection-content-total-line-label">Total produits TTC:</div>
                    <div class="CartSection-content-total-line-value">{{$ctrl.total}} DT</div>
                </div>
                <div class="CartSection-content-total-line">
                    <div class="CartSection-content-total-line-label">Frais de Livraison</div>
                    <div class="CartSection-content-total-line-value" ng-if="$ctrl.total < 50"> 7 TND</div>
                    <div class="CartSection-content-total-line-value" ng-if="$ctrl.total > 50"> Gratuite</div>
                </div>
                <div class="CartSection-content-total-line">
                    <div class="CartSection-content-total-line-label">Total TTC</div>
                    <div class="CartSection-content-total-line-value" ng-if="$ctrl.total < 50"> {{$ctrl.total + 7}} TND</div>
                    <div class="CartSection-content-total-line-value" ng-if="$ctrl.total > 50"> {{$ctrl.total}}</div>
                </div>
            </div>
        </div>
    </div>
</div>