/* Chrome, Safari, Edge, Opera */
.shopping-cart .cart-table .qua-col .quantity .pro-qty input::-webkit-outer-spin-button,
.shopping-cart .cart-table .qua-col .quantity .pro-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.shopping-cart .cart-table .qua-col .quantity .pro-qty input[type=number] {
  -moz-appearance: textfield;
}

.shopping-cart .cart-pic img {
    width: 170px;
    height: 170px;
}

.shopping-cart table td:first-child tr{
    padding-top: 30px;
}

.shopping-cart .empty-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.shopping-cart .empty-cart .empty, .shopping-cart .empty-cart .empty-link{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.shopping-cart .empty-cart .empty-link a {
    color: #33c0ec;
}

.shopping-cart .empty-cart .empty-link a:hover, .shopping-cart .empty-cart .empty-link a:active {
    color: #19346d;
}

.shopping-cart .points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c1effd;
    height: auto;
}

.shopping-cart .points p {
    padding-top: 20px;
}

.shopping-cart .proceed-checkout .proceed-btn {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	padding: 15px 25px 14px 25px;
	display: block;
    text-align: center;
    cursor: pointer;
}

.shopping-cart .proceed-checkout ul {
	border: 2px solid #ebebeb;
	background: #f3f3f3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.shopping-cart .proceed-checkout ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	text-transform: uppercase;
	overflow: hidden;
}

.shopping-cart .proceed-checkout ul li.subtotal {
	font-weight: 400;
	text-transform: capitalize;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 14px;
}

.shopping-cart .proceed-checkout ul li.subtotal span {
	font-weight: 700;
}

.shopping-cart .proceed-checkout ul li.cart-total {
	padding-top: 10px;
}

.shopping-cart .proceed-checkout ul li.cart-total span {
	color: #33c0ec;
}

.shopping-cart .proceed-checkout ul li span {
	float: right;
}