<div class="container">
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <div class="breadcrumb-text">
                       <a href="#"><i class="fa fa-home"></i> Home</a>
                       <a href="#!/profile">Mon compte</a>
                       <span>Mes adresses</span>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Breadcrumb Section Begin -->
</div>

<div class="AdressesSection container">
    <div class="AdressesSection-text"> 
        <h3>VOS ADRESSES DE LIVRAISON / Facturation</h2>
        <div class="AdressesSection-text-separator"></div>
    </div>

    <div class="AdressesSection-adresses">
        <div class="AdressesSection-adresses-item row" ng-repeat="address in $ctrl.addresses">
            <h5 class="AdressesSection-adresses-item-adressLine">{{address.name}}</h5>
            <div class="AdressesSection-adresses-item-adressSeparator"></div>
            <div class="AdressesSection-adresses-item-adressLine">{{address.avenue}}</div>
            <div class="AdressesSection-adresses-item-adressLine">{{address.description}}</div>
            <div class="AdressesSection-adresses-item-adressLine">{{address.zipcode}} {{address.city}}, {{address.state}}</div>
            <div class="AdressesSection-adresses-item-adressLine">{{address.phone}}</div>
            <div class="AdressesSection-adresses-item-adressActions">
                <button type="submit" ng-click="$ctrl.delete(address)"class="btn btn-info btn-block"> Mettre à jour </button>
                <button type="submit" ng-click="$ctrl.update(address)"class="btn btn-danger btn-block"> Supprimer </button>
            </div>
        </div>
    </div>

    <div class="AdressesSection-addAdress">
        <button type="submit" class="btn btn-success btn-block"> Ajouter une nouvelle adresse </button>
    </div>


</div>