<div class="container">
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <div class="breadcrumb-text">
                       <a href="#"><i class="fa fa-home"></i> Home</a>
                       <a href="#!/profile">Mon compte</a>
                       <span>Mes informations</span>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Breadcrumb Section Begin -->
</div>

<div class="RegisterSection">
    <div class="RegisterSection-text"> 
        <h3>VOS INFORMATIONS PERSONNELLES</h2>
        <div class="RegisterSection-text-separator"></div>
    </div>

    <article class="card-body mx-auto" style="max-width: 400px;">    
        <form role="form" ng-submit="$ctrl.save()">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Nom et prénom" type="text" ng-model="$ctrl.user.name" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Adresse E-mail" type="email" ng-model="$ctrl.user.email" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;" ng-disabled="true">
                    <option selected="true">+216</option>
                </select>
                <input name="" type="text" class="form-control" id="phoneValidation" placeholder="Numéro de téléphone" pattern="[0-9]{8}" ng-model="$ctrl.user.phone" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Mot de passe (8 caractères minimum)" type="password" ng-model="$ctrl.user.password" name="password" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Répétez le mot de passe" type="password" ng-model="$ctrl.user.passwordRepeat" name="passwordRepeat" 
                oninput='passwordRepeat.setCustomValidity(passwordRepeat.value != password.value ? "Veuillez vérifier votre mot de passe." : "")' required> 
            </div> <!-- form-group// -->                                  
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Sauvegarder </button>
            </div> <!-- form-group// -->                                                               
        </form>
    </article>

</div>