<div class="container">
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <div class="breadcrumb-text">
                       <a href="#"><i class="fa fa-home"></i> Home</a>
                       <a href="#!/profile">Mon compte</a>
                       <span>Mes commandes</span>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Breadcrumb Section Begin -->
</div>

<div class="OrdersSection container">
    <div class="tittle wow fadeInUp"> 
        <h2>Mes commandes</h2>
        <h4></h4>
    </div>
    <div class="OrdersSection-container">
        <div ng-if="$ctrl.orders.length === 0" style="text-align: center;">
          Vous n'avez pas encore passé des commandes.
        </div>
        <table ng-if="$ctrl.orders.length" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Référence</th>
                <th scope="col">Date</th>
                <th scope="col">Type de paiement</th>
                <th scope="col">Etat</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in $ctrl.orders">
                <th scope="row">{{order.order_ref}}</th>
                <td>{{order.date}}</td>
                <td>{{order.paymentType}}</td>
                <td ng-if="['new', 'confirmed'].indexOf(order.order_status) !== -1"><span class="badge badge-info">{{order.status}}</span></td>
                <td ng-if="order.order_status === 'canceled'"><span class="badge badge-danger">{{order.status}}</span></td>
                <td ng-if="['shipping', 'shipped'].indexOf(order.order_status) !== -1"><span class="badge badge-success">{{order.status}}</span></td>
                <td ng-if="['in_progress'].indexOf(order.order_status) !== -1"><span class="badge badge-success">{{order.status}}</span></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>