.Profile .Profile-Menu {
    margin-top: 80px;
    margin-bottom: 80px;
}

.Profile .Profile-Menu .Profile-Menu-Item-container {
    padding: 20px 10px;
    margin: 0 20px;
    border: 1px solid lightgrey;
}

.Profile .Profile-Menu .Profile-Menu-Item-container:hover .Profile-Menu-Item-icon,
.Profile .Profile-Menu .Profile-Menu-Item-container:hover .Profile-Menu-Item-label {
    color: #19346d;
}

.Profile .Profile-Menu .Profile-Menu-Item-container .Profile-Menu-Item-icon {
    display: flex;
    justify-content: center;
    color: #33c0ec;
    padding: 10px 0;
}

.Profile .Profile-Menu .Profile-Menu-Item-container .Profile-Menu-Item-label {
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    color: #33c0ec;
}

.Profile .Profile-logout {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}



/* Adresses setion */

.AdressesSection {
	padding-top: 30px;
	padding-bottom: 30px;
}

.AdressesSection .AdressesSection-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.AdressesSection .AdressesSection-text h3 {
	padding-bottom: 10px;
}

.AdressesSection .AdressesSection-text-separator {
	border:	2px solid #19346d;
	width: 150px;
}

.AdressesSection .no-address {
    display: flex;
    justify-content: center;
}

.AdressesSection .no-address .alert {
    text-align: center;
}

.AdressesSection .AdressesSection-adresses-item {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.AdressesSection .AdressesSection-adresses-item .AdressesSection-adresses-item-adressLine {
    padding-bottom: 5px;
}

.AdressesSection .AdressesSection-adresses-item .AdressesSection-adresses-item-adressSeparator {
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.AdressesSection .AdressesSection-adresses-item .AdressesSection-adresses-item-adressLine.adressTitle {
    font-size: 18px;
}

.AdressesSection .AdressesSection-adresses-item .AdressesSection-adresses-item-adressActions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.AdressesSection .AdressesSection-adresses-item .AdressesSection-adresses-item-adressActions button {
    width: 180px;
}

.AdressesSection .AdressesSection-addAdress {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.AdressesSection .AdressesSection-addAdress button {
    width: 260px;
}

/* address form*/

.AdressesSection .formContainer {
    display: flex;
    justify-content: center;
}


/* orders section */

.OrdersSection .OrdersSection-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* points section */

.PointsSection-panel {
    padding-top: 30px;
    padding-bottom: 60px;
}

.PointsSection-panel-points {
    padding-top: 48px;
}

.PointsSection-panel-points-container {
    border: 1px solid lightgrey;
    padding: 15px;
}

.PointsSection-panel-points-container-total-value {
    background-color: #33c0ec;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.PointsSection-panel-points-container-remaining {
    padding: 15px 0;
}

.PointsSection-panel-points-container-remaining-text {
    text-align: center;
}

.PointsSection-panel-points-container-getCoupon {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.PointsSection-panel-details-title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.PointsSection-panel-details-history {
    padding: 0 15px;
}

.premium-background {
    background-color: #eed813
}

.premium-color {
    color: #eed813;
}

/* Order details */

.OrderDetails .OrderDetails-infos, .OrderDetails .OrderDetails-products, .OrderDetails .OrderDetails-delivery {
    margin-bottom: 15px;
}

.OrderDetails .OrderDetails-infos .OrderDetails-infos-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.OrderDetails .OrderDetails-infos .OrderDetails-infos-description {
    display: flex;
    flex-direction: column;
}

.OrderDetails .OrderDetails-infos .OrderDetails-infos-description .OrderDetails-infos-description-line {
    color: #75757a;;
}

.OrderDetails-products .OrderDetails-products-title-text {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.OrderDetails .OrderDetails-products .OrderDetails-productsList {
    border: 1px solid rgba(0,0,0,.1);
}

.OrderDetails .OrderDetails-delivery-tab {
    border: 1px solid rgba(0,0,0,.1);
}

.OrderDetails .OrderDetails-delivery-tab .OrderDetails-delivery-tab-header {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.OrderDetails .OrderDetails-delivery-tab-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.OrderDetails .OrderDetails-delivery-tab .OrderDetails-delivery-tab-header {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
}

.OrderDetails .OrderDetails-delivery-tab .OrderDetails-delivery-tab-body .OrderDetails-delivery-tab-body-itemTitle {
    font-size: 16px;
    font-weight: bold;
}

.OrderDetails .OrderDetails-delivery-tab .OrderDetails-delivery-tab-body .OrderDetails-delivery-tab-body-itemTitle {
    margin-top: 15px;
}

.OrderDetails .OrderDetails-productsList-line {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);;
}

.OrderDetails .OrderDetails-productsList-line:last-child {
    border: none;
}
