<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="assets/img/logo-small-blue.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Résidence Narjess, Les jardins d'El Aouina, 2036 Tunis</li>
                        <li>+216 50 55 93 88</li>
                        <li>contact@meduse.tn</li>
                    </ul>
                    <div class="footer-social">
                        <a target=”_blank” href="https://www.facebook.com/Medusetunisie"><i class="fa fa-facebook"></i></a>
                        <a target=”_blank” href="https://www.instagram.com/meduse_tn"><i class="fa fa-instagram"></i></a>
                        <a target=”_blank” href="https://www.linkedin.com/company/meduse-tn/"><i class="fa fa-linkedin-square"></i></a>
                        <!--
                            <a target=”_blank” href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                        -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Shop</h5>
                    <ul>
                        <li><a href="#!/promotions">Nos promotions</a></li>
                        <li><a href="#!/premium">MedUse PREMIUM</a></li>
                        <li><a href="#!/contact#contact-form">Conditions d'utilisation</a></li>
                        <li><a href="#!/profile">Mon compte</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Informations</h5>
                    <ul>
                        <li><a href="#!/contact">Qui sommes nous</a></li>
                        <li><a href="#!/contact#contact-form">Contactez nous</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Abonnez-vous à notre newsletter</h5>
                    <p>Vous recevrez régulièrement des mises à jour par courriel sur nos actualités et nos offres.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Votre adresse e-mail">
                        <button type="button">Souscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-delivery">
        <div class="row endfooter">
            <ul>
                <li>
                  <a>Livraison</a>
                </li>
                <li>
                  <a href="https://www.aramex.com/fr/" target="_blank">
                    <img src="assets/img/aramex_tracking_250.png" width="150" data-original-title="" title="">
                  </a>
                </li>
                <li>
                  <a>Moyens de paiement</a>
                </li>
                <li>
                  <a>
                    <img src="assets/img/cash-on-delivery.png" data-original-title="" title="" width="150">
                  </a>
                </li>
              </ul>
        </div>
    </div>
</footer>