<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="assets/img/logo-footer.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 16 avenue de Nabeul 8090 Kélibia</li>
                        <li>Phone: +216 22 55 93 06</li>
                        <li>Email: info@meduse.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Informations</h5>
                    <ul>
                        <li><a href="#">Qui sommes nous</a></li>
                        <li><a href="#">Contactez nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>Abonnez-vous à notre newsletter</h5>
                    <p>Vous recevrez régulièrement des mises à jour par courriel sur nos actualités et nos offres.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Votre adresse e-mail">
                        <button type="button">Souscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>