<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    <a href="mailto:info@meduse.tn">info@meduse.tn</a>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +216 22 55 93 06
                </div>
            </div>
            <div class="ht-right">
                <a href="#!/login" class="login-panel"><i class="fa fa-user"></i>Connexion</a>
                <div class="top-social">
                    <a href="#"><i class="fa ti-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="logo">
                    <a href="#!/">
                        <img src="assets/img/logo_big.png">
                    </a>
                </li>
            </ul>           
            <ul class="navbar-nav ml-auto">
                <li class="nav-item category-item" ng-repeat="category in $ctrl.categories" data-toggle="collapse"><a href="#!/category/{{category.id}}">{{category.label}}</a></li>
                <li class="nav-item category-item" data-toggle="collapse"><a href="#!/category/{{category.id}}">nos services</a></li>
                <li class="nav-item category-item" data-toggle="collapse"><a href="#!/premium">Premium</a></li>
                <li class="nav-item category-item" data-toggle="collapse"><a href="#!/contact">a propos</a></li>
                <li class="cart">
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>
                        <span>3</span>
                    </a>
                    <div class="cart-hover">
                        <div class="select-items">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="si-pic"><img src="assets/img/select-product-1.jpg" alt=""></td>
                                        <td class="si-text">
                                            <div class="product-selected">
                                                <p>$60.00 x 1</p>
                                                <h6>Kabino Bedside Table</h6>
                                            </div>
                                        </td>
                                        <td class="si-close">
                                            <i class="ti-close"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="si-pic"><img src="assets/img/select-product-2.jpg" alt=""></td>
                                        <td class="si-text">
                                            <div class="product-selected">
                                                <p>$60.00 x 1</p>
                                                <h6>Kabino Bedside Table</h6>
                                            </div>
                                        </td>
                                        <td class="si-close">
                                            <i class="ti-close"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="select-total">
                            <span>total:</span>
                            <h5>$120.00</h5>
                        </div>
                        <div class="select-button">
                            <a href="#" class="primary-btn view-card">VIEW CARD</a>
                            <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                        </div>
                    </div>
                </li>
                <li class="search"><i class="fas fa-search"></i></li>
            </ul>
        </div>
    </nav>
    <!--

        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span>3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="si-pic"><img src="assets/img/select-product-1.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="si-pic"><img src="assets/img/select-product-2.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>$120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                    <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">17000.000 DT</li>

    -->
</header>