<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats goto="dashboard.home" number="6" comments="Nouvelles visites!" colour="primary" type="eye"></stats>
        <stats goto="dashboard.home" number="12" comments="Utilisateurs inscrits!" colour="primary" type="user"></stats>
        <stats goto="dashboard.home" number="18" comments="Nouvelles commandes!" colour="yellow" type="shopping-cart"></stats>
        <stats goto="dashboard.home" number="1200" comments="Recette du mois (D.T)" colour="red" type="money"></stats>

    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="MainCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Recette par mois</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" legend="true"
                    click="line.onClick" series="line.series"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="MainCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Recette par catégorie</div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="MainCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Nouveaux clients / Nouvelles commandes</div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" series="bar.series"
                    options="bar.options"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
