<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats goto="dashboard.home" number="6" comments="Nouvelles visites!" colour="primary" type="eye"></stats>
        <stats goto="dashboard.home" number="{{allUsersCount}}" comments="Utilisateurs inscrits!" colour="primary" type="user"></stats>
        <stats goto="dashboard.home" number="18" comments="Nouvelles commandes!" colour="yellow" type="shopping-cart"></stats>
        <stats ng-if="income" goto="dashboard.home" number="{{income.data[0][11].toFixed(3)}}" comments="Recette du mois (D.T)" colour="red" type="money"></stats>

    </div>

    <div class="row">
        <div ng-if="income" class="col-lg-6 col-sm-12" id="income-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Recette par mois (D.T)</div>
                <div class="panel-body">
                    <canvas id="income" class="chart chart-line chart-xl" data="income.data" labels="income.labels" legend="true"
                    click="income.onClick" series="income.series"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" id="bar-chart">
            <div ng-if="carPerMonth" class="panel panel-default">
                <div class="panel-heading">Chiffre d'affaire par mois (D.T)</div>
                <div class="panel-body">
                    <canvas id="carPerMonth" class="chart chart-bar" data="carPerMonth.data" labels="carPerMonth.labels" series="carPerMonth.series"
                    options="carPerMonth.options"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12" id="bar-chart-2">
            <div class="panel panel-default">
                <div class="panel-heading">Nouveaux clients / Nouvelles commandes</div>
                <div class="panel-body">
                    <canvas id="usersOrders" class="chart chart-bar" data="usersOrders.data" labels="usersOrders.labels" series="usersOrders.series"
                    options="usersOrders.options"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" id="pie-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Recette par catégorie (D.T)</div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>
