<div class="PasswordResetSection">
    <div class="container">
        <div class="PasswordResetSection-text"> 
            <h3>Mot de passe oublié?</h3>
            <div class="PasswordResetSection-text-separator"></div>
        </div>
        <form class="PasswordResetSection-container" role="form" ng-submit="$ctrl.submit()" ng-if="!$ctrl.done">
            <div class="PasswordResetSection-description">Veuillez renseigner l'adresse e-mail que vous avez utilisée à la création de votre compte. Vous recevrez un e-mail contenant un nouveau mot de passe que vous pouvez changer ultérieurement.</div>
            <div class="PasswordResetSection-email form-group input-group">
                <label>Addresse e-mail</label>
                <input type="email" class="form-control" ng-model="$ctrl.email" required/>
                <button type="submit" class="btn btn-success">Envoyer</button>
            </div>
        </form>
        <div ng-if="$ctrl.done">
            <div class="PasswordResetSection-description">Vous recevrez un e-mail sur {{$ctrl.email}} contenant votre nouveau mot de passe.</div>
        </div>
        <div class="PasswordResetSection-back">
            <a href="login">&lt;  Retour à la connexion</a>
        </div>
    </div>
</div>