
/*---------------------
	reset password
---------------------*/

.PasswordResetSection {
	padding-top: 30px;
	padding-bottom: 30px;
}

.PasswordResetSection-description {
	padding: 20px 30px;
	text-align: center;
}

.PasswordResetSection .PasswordResetSection-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.PasswordResetSection .PasswordResetSection-text h3 {
	padding-bottom: 10px;
}

.PasswordResetSection .PasswordResetSection-text-separator {
	border:	2px solid #19346d;
	width: 150px;
}

.PasswordResetSection .PasswordResetSection-container {
	border: 1px solid #b2b2b2;
	padding: 20px 10px 15px;
}

.PasswordResetSection .PasswordResetSection-email {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.PasswordResetSection .PasswordResetSection-email label {
	padding-right: 20px;
}

.PasswordResetSection .PasswordResetSection-email input {
	margin-right: 20px;
	width: 360px;
}

.PasswordResetSection .PasswordResetSection-back {
	padding: 20px 10px;
}

.PasswordResetSection .PasswordResetSection-back a {
	color: #33c0ec;
}

.PasswordResetSection .PasswordResetSection-back a:hover {
	color: #19346d;
}
